*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #323232;
    border: none;
}

.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    margin-left: -2px;
    text-align: center;
    padding: 5px;
    margin-top: 15px;
}